---
# This should be a path to your live project for live-reloading
browser_proxy: "localhost/your-project"

# Change this to your relative template path to allow browser
# live reload to also include your view files.
template_files: "../app/views/**/*.volt"

# -------------------------------------------------------
# Source files you write
# -------------------------------------------------------
src:
    sass: "src/sass/**/*.scss"
    js:   "src/js/**/*.js"
    img:  "src/img/*"

# -------------------------------------------------------
# Your Output Distributed Contented
# -------------------------------------------------------
dist:
    # Paths to distribute your files
    # * Change /dist to your applications public folder.
    path_js:    "dist/js"
    path_css:   "dist/css"
    path_img:   "dist/img/"
    path_fonts: "dist/fonts"
    path_third_party_js: "dist/third-party/js"
    path_third_party_css: "dist/third-party/css"

    # These is your final application file
    css: "app.min.css"
    js:  "app.min.js"

    # This only contains jQuery + Bootstrap in CSS and JS
    css_dependency: "dependencies.min.css"
    js_dependency:  "dependencies.min.js"

# -------------------------------------------------------
# Third Party installations moved to the public area
# -------------------------------------------------------
third_party:
    css:
        - "node_modules/bootstrap/dist/css/bootstrap.min.css"
        - "node_modules/font-awesome/css/font-awesome.min.css"
        - "node_modules/devicons/css/devicons.min.css"
    js:
        - "node_modules/jquery/dist/jquery.min.js"
        - "node_modules/bootstrap/dist/js/bootstrap.min.js"
        - "node_modules/jquery/dist/jquery.min.map"
    fonts:
        - "node_modules/font-awesome/fonts/FontAwesome.otf"
        - "node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.eot"
        - "node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.svg"
        - "node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf"
        - "node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff"
        - "node_modules/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2"
        - "node_modules/font-awesome/fonts/fontawesome-webfont.eot"
        - "node_modules/font-awesome/fonts/fontawesome-webfont.svg"
        - "node_modules/font-awesome/fonts/fontawesome-webfont.ttf"
        - "node_modules/font-awesome/fonts/fontawesome-webfont.woff"
        - "node_modules/font-awesome/fonts/fontawesome-webfont.woff2"
        - "node_modules/devicons/fonts/devicons.eot"
        - "node_modules/devicons/fonts/devicons.svg"
        - "node_modules/devicons/fonts/devicons.ttf"
        - "node_modules/devicons/fonts/devicons.woff"

third_party_move_only:
    css:
        - "node_modules/bootstrap/dist/css/bootstrap.min.css"
        - "node_modules/font-awesome/css/font-awesome.min.css"
        - "node_modules/devicons/css/devicons.min.css"
        - "node_modules/select2/dist/css/select2.min.css"
        - "node_modules/select2-bootstrap-css/select2-bootstrap.min.css"
    js:
        - "node_modules/jquery/dist/jquery.min.js"
        - "node_modules/bootstrap/dist/js/bootstrap.min.js"
        - "node_modules/jquery/dist/jquery.min.map"
        - "node_modules/react/dist/react.min.js"
        - "node_modules/react/dist/react-with-addons.min.js"
        - "node_modules/jquery-lazyload/jquery.lazyload.js"
        - "node_modules/jquery-lazyload/jquery.scrollstop.js"
        - "node_modules/select2/dist/js/select2.min.js"
        - "node_modules/jquery/dist/jquery.min.map"